<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.countach.cti">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launch"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launch"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".OrderCalculator"
                  android:label="@string/title_activity_order_calculator"
                  android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.countach.cti.MainActivity"/>
            >
        </activity>
        <activity android:name=".PayCalculator"
                  android:label="@string/title_activity_pay_calculator"
                  android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.countach.cti.MainActivity"/>
            >
        </activity>
        <activity android:name=".TrailerHire"
                  android:label="@string/title_activity_trailer_hire"
                  android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.countach.cti.MainActivity"/>
            >
        </activity>
    </application>

</manifest>